body {
  background-color: #18171f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
}

div {
  text-align: center;
}


.container {
 
  justify-content: center;
  align-items: center;
  width: 100%;
}


.box {
  display: block;
  flex-direction: row;
  background-color: #24232c;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.slider-container {
  text-align: left;
}

.generate-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#FileCopyIcon {
  float: right;
  color: #a4ffaf;
}

#generate-button {
  background-color: #a4ffaf;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
  margin-top: 20px
}

#generate-box{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}


#password-length{
  text-align: left;
}